{{ partial "header.html" . }}
<!DOCTYPE html>
<html>
<head>
  <div id="blogwrapper">
    <!-- Header -->
    <header id="header">
      <div class="content">
        <div id="main">

          <article id="article" style="display: block;" class="active">
            <h2><a href="https://techlook.io">techlook.io</a></h2>
            <br>
            <div id="blogtitle"><h1>{{ .Title }}</h1></div>
            {{ .Content }}

        </div>
      </div>
    </header>
</html>
<script src="/js/main.js"></script>

{{ partial "blogfooter.html" . }}
