<!-- Footer -->
<footer id="footer">

	<p class="copyright">&copy; {{ .Site.Params.copyright }}.</p>
	<br>

		<a class="icon" href="https://techlook.io"> <i class="fas fa-home"></i></a>
		<a class="icon" href="https://twitter.com/techlook_io"> <i class="fab fa-twitter-square"></i></a>
		<a class="icon" href="https://techlookio.tumblr.com/"> <i class="fab fa-tumblr-square"></i></a>
		<a class="icon" href="https://www.facebook.com/techlook.io/"> <i class="fab fa-facebook-square"></i></a>
		<a class="icon" href="https://www.linkedin.com/company/techlookio/"> <i class="fab fa-linkedin"></i></a>


</footer>

</div>
<!-- BG -->
<div id="bg"></div>

<!-- Scripts -->
<script src="/js/skel.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
{{ template "_internal/google_analytics_async.html" . }}

</body>

</html>
