<!-- Footer -->
<footer id="footer">


  <p class="copyright">&copy; {{ .Site.Params.copyright }}.</p>
  <br>

  <span class="icon-home3"></span>
  <a class="icon" href="https://techlook.io" target="_blank"> <i class="fas fa-home"></i></a>
  <a class="icon" href="https://twitter.com/techlook_io" target="_blank"> <i class="fab fa-twitter-square"></i></a>
  <a class="icon" href="https://techlookio.tumblr.com/" target="_blank"> <i class="fab fa-tumblr-square"></i></a>
  <a class="icon" href="https://www.facebook.com/techlook.io/" target="_blank"> <i
      class="fab fa-facebook-square"></i></a>
  <a class="icon" href="https://www.linkedin.com/company/techlookio/" target="_blank"> <i
      class="fab fa-linkedin"></i></a>
  <br>
  powered by: <b><a href="https://flamingo.video/">flamingo.video</a></b>
</footer>

</div>
<!-- BG -->
<div id="bg"></div>

<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/skel.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
{{ template "_internal/google_analytics_async.html" . }}

</body>

</html>
