<!DOCTYPE HTML>
<html>
	<head>


		<!-- Schema -->
		<script type="application/ld+json">
		{
		  "@context" : "http://schema.org",
		  "@type" : "Organization",
		  "name" : "techlook.io",
		  "url" : "https://techlook.io",
		  "logo": "https://techlook.io/apple-touch-icon.png",
		  "sameAs" : [
		    "https://www.facebook.com/techlook.io/",
		    "https://www.twitter.com/techlook_io",
		    "https://www.linkedin.com/company/techlookio/",
		    "https://techlookio.tumblr.com/"
		  ]
		}
		</script>
		<!--- End Schema -->

		<title>{{ .Title }}</title>
		<meta name="description" content="techlook.io: las vegas based independent website development, design, marketing & SEO.">
		<html lang="en" xml:lang="en" xmlns= "http://www.w3.org/1999/xhtml">
		<meta http-equiv="Content-Language" content="en">
		<meta name="keywords" content="website design, las vegas, seo, web development, developer">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css/main.css" />


		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">


		<!--[if lte IE 9]><link rel="stylesheet" href="/css/ie9.css" /><![endif]-->
		<noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>
	</head>
	<!-- Scripts -->
			
	<body>
